.title{
    
    background-color: rgb(248, 244, 244);
    font-size: large;    
}

.img-navbar{
    width: 8%;
    display: flex;
    align-self: flex-start;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}
.link{
    display: flex;
    justify-content: space-between;
    border:solid 3px;
    margin: 30px;
}
.item{
    font-size: 30px;   
    color: blue;
    margin: 5px;
    text-align: center;
}
.cont{
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.img-card{
    height: 400px;
}
.img-cart{
    height: 90px;
    width: 80px;
    margin: 2%;  
}
.tableStyle{
    border: 1px solid;
    margin: auto;
    margin-top: 5%;
}
.td1{
    display: flex;
    align-items: center;
    text-align: center;
}
.td2{
    text-align: center;
    border-bottom: 1px solid #ddd;
    /* border:1px solid; */
}
/* .th1{
    border:1px solid;
    width: 15%; 
    text-align: center; 
} */
.th2{
    /* border:1px solid; */
    width: 20%;
    text-align: center;
    border-bottom: 1px solid rgb(22, 22, 22);
   
}

.enlace{
    color: rgba(198,60,34,255);
   
    text-decoration: none;
    margin-inline: 5px;
    
}
.btnCompra{
    height: 20%;
}
.enlace:hover{
    color:black;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(198,60,34,255) ;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

  }

.text{
  display: flex;
  justify-content: center;

}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.formulario{
    margin: auto;
    margin-top: 3%;
    
    width: 50%;
}
.finalizar{
   float:none;
   

}