.title{
    
    background-color: rgb(248, 244, 244);
    font-size: large;    
}

.img-navbar{
    width: 8%;
    display: flex;
    align-self: flex-start;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}
.link{
    display: flex;
    justify-content: space-between;
    border:solid 3px;
    margin: 30px;
}
.item{
    font-size: 30px;   
    color: blue;
    margin: 5px;
    text-align: center;
}
.cont{
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.img-card{
    height: 400px;
}
.enlace{
    color: rgba(198,60,34,255);
   
    text-decoration: none;
    margin-inline: 5px;
    
}
.enlace:hover{
    color:black;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(198,60,34,255) ;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

  }

.text{
  display: flex;
  justify-content: center;

}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  