.title{
    
    background-color: rgb(248, 244, 244);
    font-size: large;    
}

.img-navbar{
    width: 8%;
    display: flex;
    align-self: flex-start;
}

.menu{
    display: flex;
    justify-content: space-between;
    
}
.link{
    display: flex;
    justify-content: space-between;
    border:solid 3px;
    margin: 30px;
}
.item{
    font-size: 30px;   
    color: blue;
    margin: 5px;
    text-align: center;
}
.cont{
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.img-card{
    height: 400px;
}
.enlace{
    color: rgba(198,60,34,255);
   
    text-decoration: none;
    margin-inline: 5px;
    
}
.enlace:hover{
    color:black;
}
